docs/build
.idea/
imqsauth
test-output
Dockerfile-gotest
__debug_bin
/imqsauth.exe
/log/
/imqsauth.log
/licenses_client/
/client.key
/client.pub
/tools/listanddiff/go_build_listanddiff_go.exe
/id_rsa
/key.bin
/tools/listanddiff/listanddiff.exe
/tools/listanddiff/output.csv
/server.bin
/server.key
/testconf/tempconf_live.json
/testconf/tempconf_live_imqs-entra.json
/testconf/tempconf_local.json
/keys/
