{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": [
						"last 2 versions",
						"Explorer 11"
					]
				}
			}
		]
	],
	"compact": false,
	"plugins": [
		"syntax-dynamic-import",
		"dynamic-import-webpack"
	]
}
