
@import (reference) '00-global-vars-mixins.less';

.graph-popup {
	background-color: #EFEFEF;
	border-top: 1px solid #E1E1E1;
}

.graph-main-content {
	width: 100%;
	height: 100%;
	background-color: #EFEFEF;
	overflow: hidden;
}

.pi-graph-container {
	display: inline-block;
}

.graph-main-drawing {
	width: 100%;
	height: 100%;
	font-size: 12px;
	margin-top: 10px;
	background-color: #EFEFEF;
}

.graph-options {
	width: 100%;
	height: 87px;
	padding-top: 10px;
	margin-top: 0px;
	position: absolute;
	left: 0;
}

.graph-options-header {
	font-size: 14px;
	font-weight: bold;
	margin-left: 26px;
}

.graph-options-seperator1 {
	height: 1px;
	background-color: white;
	margin-left: 26px;
	margin-right: 26px;
	margin-top: 10px;
}

.graph-options-seperator2 {
	height: 1px;
	background-color: #E1E1E1;
	margin-left: 26px;
	margin-right: 26px;
}

.graph-options-table {
	margin-left: 26px;
	margin-top: 10px;
}

.graph-option-item {
	vertical-align: middle;
	font-size: 12px;
}

.graph-option-input {
	outline: none;
}

.graph-propbox {
	width: 100%;
	height: 70px;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.graph-simple-small {
	.graph-propbox;
}

.graph-propbox-padded {
	.graph-propbox;
	margin: 4px 0px 4px 0px;
}

.graph-propbox-header {
	margin-top: 3px;
	font-weight: bold;
	text-align: center;
}

.graph-simple {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 13px;
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}

.yaxisLabelLeft {
	top: 50%;
	left: -20px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.graph-xaxis-label {
	height: 15px;
	font-size: 12px;
	text-align: center;
}

.graph-yaxis-label-text {
	top: 50%;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	font-size: 12px;
}

.graph-yaxis-label {
	display: inline-block;
	float: left;
	width: 15px;
}

.yaxisLabelRight {
	top: 50%;
	right: -45px;
	//left:0%;
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

#flot-graph-popup-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#flot-graph-left-container{
	.border-box;
	background-color: #E8E8E8;
	height: 100%;
	border-right: 1px solid #E1E1E1;
	display: inline-block;
	overflow: hidden;
}

#flot-graph-property-box{
	.border-box;
	background-color: #EFEFEF;
    position: absolute;
	height: 100%;
	width: 309px;
    padding: 0 10px 0 15px;
    display: inline-table;
	border-left: #D4D4D4 1px solid;
	overflow-y: auto;
	overflow-x: hidden;
}

#flot-graph-container{
	.border-box;
	font-size: 12px;
	height: 66%;
	padding: 0px 50px 10px 50px;
	overflow: hidden;
    margin: auto;
}

#flot-graph-table-header{
	.border-box;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 13px;
	font-weight: bold;
}

#flot-graph-table-container{
	font-size: 11px;
	.border-box;
	width: 100%;
	overflow-y: auto;
}

#dialog-graph-flot-header {
	position: absolute;
	padding-top: 2%;
	width: 100%;
	text-align: center;
	padding-left: 10%;
	font-weight: bold;
}
#dialog-flot-graph-popup-container{
	height: 90%;
	width: 90%;
	left: -85px;
	top: 25px;
	position: relative;
}

#dialog-graph-flot-canvas {
	background-color: #ffffff;
	left: 10%;
	top: 2%;
}

.dialog-graph-flot-yaxislable-left {
	position: absolute;
	top: 70%;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	font-size: 16px;
	display: inline-block;
	float: left;
	width: -1%;
	padding-top: 3%;
}

.dialog-graph-flot-xaxislable {
	position: absolute;
	left: 10%;
	height: 15px;
	font-size: 16px;
	text-align: center;
	padding-top: 3%;
	bottom: -11%;
	width: 100%;
}

#dialog-graph-flot-canvas > div.legend > table > tbody > tr > td.legendLabel {
	padding-bottom: 5px;
	padding-right: 5px;
}

.graph-legend-label {
    font-size: 14px;
    padding: 5px;
}

.legendColorBox {
    padding:5px;
}

.dashboard-graph-tooltip {
	position: absolute;
	display: none;
	border: 2px solid white;
	padding: 2px;
	background-color: @iq-color-gray-10;
}