@import (reference) '00-global-vars-mixins.less';

@imports-color-info: #4183c4;
@imports-color-error: #e80000;;
@imports-color-done: #8AC007;
@imports-color-warning: #e88e09;

#imports-header {
	.border-box;
	height: 40px;
	background-color: #1E242B;
	border-bottom: 1px solid #868686;
}

#imports-header h1 {
	color: #efefef;
	font-size: 24px;
	letter-spacing: 2pt;
}

#imports-filter {
	.border-box;
	height: 50px;
	padding: 8px;
	background-color: #F4F4F4;
	border-bottom: 1px solid #A0A5A9;
}

#imports-file-drop {
	.border-box;
	height: 60px;
	padding: 8px;
	background-color: #F4F4F4;
	border-bottom: 1px solid #A0A5A9;
	text-align: center;
}

#imports-content {
	.border-box;
}

#imports-list {
	.border-box;
	font-size: 13px;
	list-style-position: inside;
	overflow-y: scroll;
	color: #333;
}

#imports-list li {
	.border-box;
	padding: 10px;
	border-bottom: 1px solid #A0A5A9;
	border-top: 2px solid white;
}

#imports-new {
	.border-box;
	float: right;
	margin: 4px;
	border-color: transparent;
}

#import-delete-content {
	overflow-x: scroll;
	padding: 10px;
	height: calc(~"100% - 20px");
}

.imports-container {
	height: 100%;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;

	&__bar {
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px;
		background-color: #F4F4F4;
		border-bottom: 1px solid #A0A5A9;
	}

	&__bar-section {
		display: -ms-flexbox;
		display: flex;
		align-items: center;
	}

	&__date {
		border: 1px solid #d3d3d3;
		width: 200px;
		height: 32px;
		border-radius: 3px;
		font-size: 15px;
		padding: 0px 0px 0px 7px;
	}
}

.widgetlist-left {
	.border-box;
	width: 300px;
	height: 100%;
	background-color: #4C4C49;
	display: inline-block;
	line-height: normal;
	padding: 10px;
	color: #efefef;
	border-right: 1px solid #868686;
}

.widgetlist-right {
	.border-box;
	display: inline-block;
	position: absolute;
	line-height: normal;
}

.widgetlist-action {
	.border-box;
	height: 52px;
	padding: 7px;
	border-top: 1px solid #868686;
}

.imports-scrollbox {
	.border-box;
	width: 50%;
	height: 100%;
	display: inline-block;
	overflow-y: scroll;
	border-right: 1px solid #868686;
}

#packagename {
	font-weight: bold;
}

.imports-history {
	display: inline-block;
}

.imports-description {
	width: 110px;
	padding: 2px;
}

.imports-expand-log {
	cursor: pointer;
}

.imports-log-view {
	display: none;
	margin-top: 5px;
	line-height: 18px;
	font-family: monospace;
	white-space: pre;
	cursor: auto;
}

.imports-status-inprogress {
	color: @imports-color-info;
}

.imports-status-error {
	color: @imports-color-error;
}

.imports-status-done {
	color: @imports-color-done;
}

.imports-status-warning {
	color: @imports-color-warning;
}

.status-indicator {
	width: 9px;
	height: 9px;
	border: 1px solid #606060;
	border-radius: 50%;
	margin-right: 5px;
	float: left;
}

.status-indicator.imports-status-inprogress-bg {
	background-color: @imports-color-info;
}

.status-indicator.imports-status-error-bg {
	background-color: @imports-color-error;
}

.status-indicator.imports-status-done-bg {
	background-color: @imports-color-done;
}

.status-indicator.imports-status-warning-bg {
	background-color: @imports-color-warning;
}

.imports-status-inprogress-bg {
	background-color: lighten(@imports-color-info, 30%);
}

.imports-status-error-bg {
	background-color: lighten(@imports-color-error, 30%);
}

.imports-status-done-bg {
	background-color: lighten(@imports-color-done, 30%);
}

.imports-status-warning-bg {
	background-color: lighten(@imports-color-warning, 30%);
}

td.expected-file-left {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

td.expected-file-right {
	vertical-align: middle;
	font-size: medium;
	padding-left: 6px;
}

table.expected-file-table {
	table-layout: auto;
	margin: 0px auto;
}

div.expected-file-instruction {
	height: 30px;
	font-weight: bold;
	width: 20em;
	text-align: center;
}

div.failed-upload-description {
	height: 30px;
	font-weight: bold;
	text-align: center;
	color: darkred;
	padding-top: 20px;
}

div.failed-upload-item {
	float: left;
	font-size:12px;
	padding-bottom:15px;
	padding-left: 7px;
	max-width: 95%;
}

div.failed-upload-bullet {
	float:left;
	border-radius: 4px;
	width: 8px;
	height: 8px;
	background-color: black;
	margin-left: 15px;
}

.progress-bar-container {
	width: 95%;
	border: 1px solid black;
	margin: auto;
	padding: 3px;
}

.progress-bar {
	height: 20px;
	background-color: dodgerblue;
	width: 0%;
}

.progress-bar-percent {
	position: absolute;
	left: 45%;
}

.imqs-upload-spinner {
	margin: 4px -12px;
	height: 24px;
	width: 24px;
}
