@import (reference) '00-global-vars-mixins.less';

#infra-root {
	.border-box;
	width: 100%;
	height: 100%;
	position: fixed;
}

#infra-content-panel {
	.border-box;
	display: inline-block;
	float: left;
	height: 100%;
	background-color: #5e5;
}

#infra-right-panel {
	.border-box;
	background-color: white;
	display: inline-block;
	height: 100%;
	border-left: #D4D4D4 1px solid;
}

#infra-right-panel-hide {
	.border-box;
	background-color: white;
	z-index: 900;
	top: 100px;
	height: 45px;
	width: 27px;
	padding: 7px;
	cursor: pointer;
	position: absolute;
	border-bottom-left-radius: 23px;
	border-top-left-radius: 23px;
	padding-top: 14px;
	border: 1px solid #d4d4d4;
}

#infra-tabs {
	.border-box;
	height: 100%;
}

#infra-map {
	.border-box;
	cursor: default;
}

#infra-grid {
	.border-box;
	height: 30%;
	background-color: #EFEFEF;
	border-top: 1px solid #d4d4d4;
}

#infra-slider {
	.border-box;
	height: 60px;
	background-color: #EFEFEF;
	border-top: 1px solid #d4d4d4;
}

.sub-maptool-container-content {
	margin: 10px;
	font-size: 12px;
	color: #555555;
}

.sub-maptool-notification-content {
	label {
		display: block;
		padding-left: 15px; /*;
		text-indent: -15px;*/
	}

	input {
		width: 13px;
		height: 13px;
		padding: 0;
		margin-right: 4px;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}
}

.iq-flowbar {
	padding: 6px 0px 15px 6px;
}

.iq-flowbar-container {
	width: 200px;
	height: 132px;
}

.iq-flowbar-textinput {
	border: none;
	height: 20px;
	border-radius: 3px;
	vertical-align: top;
	outline: none;
	font-size: 13px;
	padding-left: 5px;
	width: 80px;
	margin-left: 8px;
	float: left;
}

.iq-flowbar-addflow {
	display: block;
	float: left;
	padding: 2px;
	font-size: 13px;
}

.iq-flowbar-units {
	display: block;
	float: right;
	padding: 2px 0px 2px 2px;
	font-size: 13px;
}

.iq-flowbar-slider {
	margin-top: 15px;
	margin-right: -10px;
	padding-left: 7px;
}

.iq-networktrace-check {
	padding: 4px;
}

.iq-command-bar {
	z-index: 900;
}

.iq-networktrace-label-container {
	float: left;
	padding-top: 1px;
	padding-left: 3px;
}

.iq-tracing-mode-checkbox {
	float: left;
}

.iq-flowbar-spare-cap-container {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0 16px 3px 6px;
}

.iq-flowbar-spare-cap-title {
	font-size: 13px;
	margin-bottom: 3px;
}

.iq-flowbar-spare-cap {
	margin-bottom: 3px;
	padding-left: 4px;
}

.iq-flowbar-spare-cap-label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}

.iq-flowbar-spare-cap-input {
	display: none;
}

.iq-flowbar-spare-cap-label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: rgb(239, 239, 239);
	border: 1px solid rgba(0, 0, 0, .4);
	border-radius: 8px;
	box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .8);
}

.iq-flowbar-spare-cap-input:checked + .iq-flowbar-spare-cap-label:before {
	content: "\2022";
	color: rgb(0, 109, 179);
	font-size: 38px;
	text-align: center;
	line-height: 18px;
}
.template-image-prop-box {
	max-width: 268px;
	max-height: 268px;
	padding: 10px 0 0 10px;
	border: none;
}

.timeseries-dialog {
	background-color:#EFEFEF;
	border-top:1px solid #E1E1E1;
}


.timeseries-margin {
	margin-left:2px;
}

.timeseries-height {
	height:14px;
}

.timeseries-tooltip-font {
	font-weight: bold;
}

.timeseries-tooltip-position {
	position: absolute;
	color: black;
	text-shadow: white 0.1em 0.1em 0.2em;
	background-color:rgba(123,123,123,0.5);
}

.infra-dialog-1 {
	padding: 30px 10px 10px 10px;
	text-align: center;
}

.infra-dialog-2 {
	padding: 20px;
}

.infra-dialog-3 {
	width:100%;
	height:100%
}

.infra-dialog-4 {
	margin: 0 auto; 
	display: block
}

.gridtool-sms-notification-dialog {
	width: 570px;
	height: 230px;
	overflow: hidden;
	padding: 15px;
	position: absolute;
}

.gridtool-sms-notification-button-bar {
	position: absolute; 
	right: 15px;
	bottom: 15px;
}

.gridtool-sms-notification-spinner {
	margin: auto auto;
	margin-top: 25px;
	position: relative;
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.gridtool-sms-notification-message label {
	float: left;
}

.gridtool-sms-notification-message select {
	width: 250px;
	float: left;
	clear: both;
}

.gridtool-sms-notification-message div {
	float: right;
	border-radius: 3px;
	background-color: @iq-color-background-gray;
}

.gridtool-sms-notification-message textarea {
	margin-top: 15px;
	width: 565px;
	height: 115px;
}

.gridtool-sms-notification-preview-message {
	background-color: #eeeeee;
	border-radius: 3px;
	padding: 10px;
}

.version-overlay {
	//background-color:#1E242B;
	background-color:#fff;
	width:100%;
	height:100%;
	position:fixed;
	z-index:999;
	opacity:0.99;
}

.version-content {
	//border: 1px solid white;
	border: 1px solid #1E242B;
	background-color: white;
	width: calc(~"100% - 80px");
	height: calc(~"100% - 130px");
	z-index: 1000;
	position: fixed;
	opacity: 1;
	margin-top: 40px;
	margin-left: 38px;
}

.version-close{
	cursor:pointer;
	//color: #C3D52E;
	color: #004577;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 55px;
	text-decoration: underline;
}

