
.iq-dialogue {
    position: relative; 
    width: 100%; 
    height: 100%;
}

.iq-button-holder {
    position: absolute; 
    bottom: 0; 
    padding: 15px;
}

.iq-modal-content {
	position: absolute; 
    width: 100%; 
    top: 0; 
    bottom: 70px; 
    overflow: auto;
}
