@import (reference) '00-global-vars-mixins.less';

.imqs-search-container {
	color: black;
	margin-top: 14px;
	margin-right: 12px;
	float: right;
}

.imqs-searchbox-container {
	.border-box;
	width: 100%;
	padding: 8px;
	height: 50px;
}

.imqs-search-div {
	border-radius: 3px;
	background-color: white;
	border: 1px solid #d3d3d3;
	height: 32px;
	width: 100%;
	cursor: text;
	display: inline-flex;
	position: relative;
}

.imqs-search-category-button-div {
	border: 1px solid #d3d3d3;
	height: 32px;
	background: white;
	border-right: transparent;
	border-radius: 3px 0 0 3px;
	position: absolute;
}

.imqs-search-filter-button {
	background: whitesmoke;
	color: black;
	display: inline-flex;
	width: 100%;
	border: 1px solid lightgray;
	height: 28px;
	line-height: 26px;
	margin-left: 2px;
	margin-top: 2px;
	border-radius: 3px;
	cursor: pointer;
}

.imqs-search-filter-button-span {
	display: inline-flex;
}

.imqs-search-down-arrow {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid white;
	margin: auto;
}

.imqs-search-img {
	top: 9px;
	right: 5px;
	position: absolute;
	min-width: 16px;
	min-height: 16px;
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.imqs-search-loading {
	box-sizing: border-box;
	position: relative;
	float: right;
	margin-right: 5px;
	margin-top: 6px;
	width: 24px;
	height: 24px;

	.el-loading-mask {
		background: transparent;
	}

	.el-loading-mask .el-loading-spinner .circular {
		margin-top: 9px;
		width: 21px;
		height: 21px;
	}
}

.imqs-search-close-img {
	cursor: pointer;
	min-width: 14px;
	min-height: 14px;
	height: 14px;
	width: 14px;
	margin: 7px;
	float: right;
	opacity: 0.3;
	margin: auto;
	margin-right: 5px;
}

.imqs-search-filter-close-img {
	cursor: pointer;
	min-width: 10px;
	min-height: 10px;
	height: 10px;
	width: 10px;
	opacity: 0.3;
	margin: auto;
	margin-left: 4px;
}

.imqs-search-input {
	color: black;
	border: none;
	width: calc(~"100% - 40px");
	height: 32px;
	border-radius: 3px;
	vertical-align: top;
	outline: none;
	font-size: 15px;
	padding: 0px 0px 0px 7px;
}

.imqs-search-input::-ms-clear {
	display: none;
	width:0;
	height:0;
}

.imqs-search-result-container {
	z-index: @iq-zindex-max;
	background: white;
	position: absolute;
	border: 1px solid #d3d3d3;
	border-radius: 0px 0px 3px 3px;
	margin-top: -2px;
	overflow-y: auto;
	overflow-x: hidden;
}

.imqs-search-result-container {
	.imqs-search-result-container
}

.imqs-search-category-container {
	.imqs-search-result-container;
	width: 300px;
}

.imqs-search-result-container-inner {
	display: table;
	table-layout: fixed;
}

.imqs-category-search-container-inner  {
	.imqs-search-result-container-inner;
	display: inherit;
	position: absolute;
	z-index: 1000;
	margin: -1px 0 0 1px;
}

.imqs-search-result-row {
	height: 32px;
	cursor: pointer;
	display: table-row;
}

.imqs-search-result-row-deactivated {
	height: 32px;
	cursor: default;
	display: table-row;
}

.imqs-search-result-cell {
	font-size: 11px;
	height: 24px;
	width: 300px;
	padding: 6px;
	display: table-cell;
	vertical-align: middle;
	border-bottom: solid #efefef 1px;
}

.imqs-search-result-row-deactivated:focus {
	outline: none;
}

.imqs-search-result-row:hover, .imqs-search-result-row-deactivated:hover {
	background: @imqs-hover;
}

.imqs-search-result-row:focus {
	border: 0px transparent;
	background: @imqs-active;
	color: white;
}

.imqs-search-result-row:active {
	background: @imqs-active;
	color: white;
}

.imqs-search-result-row-highlight {
	font-weight: bold;
	letter-spacing: .5px;
	color: inherit;
	text-decoration: underline;
}

.imqs-search-result-row:active .imqs-search-result-row-highlight {
	color: white;
}

.imqs-search-result-row:focus .imqs-search-result-row-highlight {
	color: white;
}

// See "jquery-ui_imqs.css" for the third-party based style adjustments to Search fields

.flat-table {
	border-collapse: collapse;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width: 100%;
}

.flat-table th, .flat-table td {
	box-shadow: inset 0 -1px rgba(0,0,0,0.25), inset 0 1px rgba(0,0,0,0.25);
}

.flat-table th {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	padding: 1em;
	color: rgba(0,0,0,0.45);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.flat-table td {
	color: black;
	padding: 0.7em 1em 0.7em 1.15em;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
}

.flat-table tr {
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
	text-align: -webkit-left;
}

.flat-table-1 {
	background: whitesmoke;
}

.flat-table-1 tr:hover {
	background: rgba(0,0,0,0.19);
}

.flat-table-2 tr:hover {
	background: rgba(0,0,0,0.1);
}

.flat-table-2 {
	background: #f06060;
}

.flat-table-3 {
	background: #52be7f;
}

.flat-table-3 tr:hover {
	background: rgba(0,0,0,0.1);
}
