.statusbar-container {
	height: 10px;
	border: 1px solid gray;
	margin: 2px 1px 1px 1px;
	width: 200px;
}

.statusbar-bar {
	background: #c4c4c4;
	height: 100%;
	border: 0;
	position: relative;
	visibility: visible;
	width: 50px;
}
