.style-manager-label {
	font-size: 12px;
}

.style-manager-label-bold {
	font-size: 12px;
	font-weight: bold;
}

.style-manager-canvas-preview {
	background-color: white;
	border: 1px solid #CCCCCC;
}

.style-manager-apply-label {
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	color: gray;
}

.style-manager-apply-label:hover {
	font-size: 17px;
}

.style-manager-apply-label:active {
	color: black;
}
