@import (reference) '00-global-vars-mixins.less';

.iq-tabs-switcher-list-item {
	padding: 5px 10px;
}

.iq-tabs-switcher-active {
	border-bottom: solid 4px @iq-color-lime-100;
	padding-bottom: 6px;
	border-radius: 0px;
}

.iq-tabs-switcher-inactive {
	background-color: @iq-color-gray-15;
	border: solid 1px @iq-color-gray-20;
	border-top: none;
	border-radius: 0px;
	color: #797979;

	&:hover {
		background-color: @iq-color-gray-10;
	}
}