@import (reference) '00-global-vars-mixins.less';

.usage-overlay-activity-area {
	visibility: visible;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px
}

.usage-overlay-input-label {
	font-size: medium;
}

.usage-overlay-input-textfield {
	font-size: medium;
	float: right;
	margin-right: 10px;
}

.usage-overlay-buttons {
	visibility: visible;
	padding-bottom: 10px;
	padding-top: 10px;
}

.usage-overlay-buttons-right {
	visibility: visible;
	padding-bottom: 10px;
	padding-right: 10px;
	float: right;
}
