name: Build Auth Service
on:
  # Trigger the workflow on push or pull request,
  push:
    branches:
      - master
      - rc
      - uat
      - stable
      - dtpw-*
      - test-*
      - "[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+"
    tags:
      - "[vV][0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - master
  # Also trigger on page_build, as well as release created events
  page_build:
  release:
    types: # This configuration does not affect the page_build event above
      - created
concurrency: ${{ github.ref }}

jobs:
  build:
    name: Build Auth
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        id: checkout
        with:
          lfs: true
      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOYBOT_SSH_KEY }}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DEPLOY_DOCKER_USERNAME }}
          password: ${{ secrets.DEPLOY_DOCKER_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: build-push
        uses: docker/build-push-action@v6
        with:
          ssh: default
          # Push the new image to Docker Hub with the tag as the git ref name
          # (branch or tag), except master is pushed as "latest"
          tags: imqs/auth:${{ github.ref_name == 'master' && 'latest' || github.ref_name }}
          push: true
          cache-from: golang:1.22, imqs/ubuntu-base:24.04
